
.banner {
    background: var(--primary-colour);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.title {
    color: var(--neutral-light-colour);
    font-size: 1rem;
    font-weight: bold;
}